In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import wrangle

In [10]:
# create df from csv file and take a look at TxDOT data for 1/1/21 - 10/28/21
df = pd.read_csv('crash_texas.csv')
print('shape:', df.shape)
df.head()

shape: (81740, 171)

/opt/homebrew/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (19,34,44,46,80,84,91,154,155) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Crash_ID,Crash_Fatal_Fl,Cmv_Involv_Fl,Schl_Bus_Fl,Rr_Relat_Fl,Medical_Advisory_Fl,Amend_Supp_Fl,Active_School_Zone_Fl,Crash_Date,Crash_Time,...,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID,Investigat_Service_ID,Investigat_DA_ID,Investigator_Narrative
0,17562314,N,N,N,N,N,Y,N,10/28/2021,06:49 AM,...,0,1,3,0,1,0,282.0,35.0,NaN,NaN
1,18534544,N,N,N,N,N,N,N,10/18/2021,12:33 AM,...,0,0,1,0,0,0,15.0,122.0,NaN,NaN
2,18534557,N,N,N,N,N,N,N,10/18/2021,11:35 PM,...,0,0,1,0,0,0,282.0,22.0,NaN,NaN
3,18534558,N,N,N,N,N,N,N,10/18/2021,12:10 AM,...,0,0,0,0,1,0,282.0,35.0,NaN,NaN
4,18534587,N,N,N,N,N,Y,N,10/18/2021,12:47 AM,...,0,0,1,0,0,0,282.0,35.0,NaN,NaN

In [11]:
# look at some of the df details of the types in the df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81740 entries, 0 to 81739
Columns: 171 entries, Crash_ID to Investigator_Narrative
dtypes: float64(86), int64(26), object(59)
memory usage: 106.6+ MB

In [12]:
print('There are %d missing values in total.' % df.isna().sum().sum())

There are 6034333 missing values in total.

In [13]:
#get some detail on the numbers
df.describe()

,Crash_ID,Rpt_CRIS_Cnty_ID,Rpt_City_ID,Rpt_Latitude,Rpt_Longitude,Rpt_Rdwy_Sys_ID,Rpt_Road_Part_ID,Crash_Speed_Limit,Rpt_Sec_Rdwy_Sys_ID,Rpt_Sec_Road_Part_ID,...,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID,Investigat_Service_ID,Investigat_DA_ID,Investigator_Narrative
count,8.174000e+04,81740.000000,81740.000000,16453.000000,16453.000000,81740.000000,81740.000000,81740.000000,78487.000000,78487.000000,...,81740.000000,81740.000000,81740.000000,81740.000000,81740.000000,81740.000000,65163.000000,77188.000000,27788.000000,0.0
mean,1.858636e+07,107.813237,2218.891326,31.091231,-97.511789,11.390066,1.364277,42.435564,15.805751,1.190299,...,0.133876,0.228627,1.968534,0.197773,0.393235,0.006655,131.305603,107.189408,109.808982,NaN
std,2.584818e+04,69.913226,3913.059386,1.978759,2.174128,7.913152,1.239948,17.385819,6.005994,0.827469,...,0.475819,0.628845,1.848648,0.461445,0.835357,0.093225,114.579021,192.335199,266.456892,NaN
min,1.756231e+07,1.000000,1.000000,25.865940,-106.596930,1.000000,1.000000,-1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.000000,1.000000,1.000000,NaN
25%,1.856521e+07,57.000000,151.000000,29.756910,-98.405110,3.000000,1.000000,35.000000,15.000000,1.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,15.000000,28.000000,8.000000,NaN
50%,1.858657e+07,101.000000,270.000000,31.479800,-97.312120,15.000000,1.000000,40.000000,19.000000,1.000000,...,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,90.000000,35.000000,17.000000,NaN
75%,1.860738e+07,161.000000,443.000000,32.736740,-95.743750,19.000000,1.000000,55.000000,19.000000,1.000000,...,0.000000,0.000000,3.000000,0.000000,1.000000,0.000000,282.000000,123.000000,63.000000,NaN
max,1.864707e+07,254.000000,9999.000000,36.409360,-93.520630,19.000000,7.000000,85.000000,19.000000,7.000000,...,47.000000,29.000000,76.000000,15.000000,70.000000,4.000000,363.000000,1468.000000,1603.000000,NaN

In [28]:
df.drop(columns=['Investigat_Service_ID', 'Investigat_DA_ID', 'Investigator_Narrative', 'Standstop',
                'Yield', 'Poscrossing_ID', 'WDCode_ID', 'CrossingNumber', 'RRCo', 'Bridge_Rte_Struct_Func_ID',
                'Bridge_IR_Struct_Func_ID', 'Deck_Width', 'Bridge_Dir_Of_Traffic_ID', 'Culvert_Type_ID', 'Roadway_Width',
                'Bridge_Srvc_Type_On_ID', 'Bridge_Srvc_Type_Under_ID', 'Bridge_Loading_Type_ID', 'Bridge_Loading_In_1000_Lbs',
                'Approach_Width', 'Bridge_Median_ID', 'Structure_Number', 'I_R_Min_Vert_Clear', 'Dd_Degr',
                'Feature_Crossed', 'Cd_Degr', 'Delta_Left_Right_ID', 'Curve_Type_ID', 'Curve_Lngth'])

,Crash_ID,Crash_Fatal_Fl,Cmv_Involv_Fl,Schl_Bus_Fl,Rr_Relat_Fl,Medical_Advisory_Fl,Amend_Supp_Fl,Active_School_Zone_Fl,Crash_Date,Crash_Time,...,Pct_Combo_Trk_Adt,Trk_Aadt_Pct,Sus_Serious_Injry_Cnt,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID
0,17562314,N,N,N,N,N,Y,N,10/28/2021,06:49 AM,...,0.2,1.6,0,0,1,3,0,1,0,282.0
1,18534544,N,N,N,N,N,N,N,10/18/2021,12:33 AM,...,2.1,3.9,0,0,0,1,0,0,0,15.0
2,18534557,N,N,N,N,N,N,N,10/18/2021,11:35 PM,...,5.8,9.8,0,0,0,1,0,0,0,282.0
3,18534558,N,N,N,N,N,N,N,10/18/2021,12:10 AM,...,1.4,2.2,1,0,0,0,0,1,0,282.0
4,18534587,N,N,N,N,N,Y,N,10/18/2021,12:47 AM,...,NaN,NaN,0,0,0,1,0,0,0,282.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81735,18646955,N,N,N,N,N,N,N,11/28/2021,06:18 PM,...,NaN,NaN,0,0,0,2,1,0,0,28.0
81736,18646958,N,Y,N,N,N,N,N,11/17/2021,09:08 PM,...,11.5,15.1,0,0,0,2,0,0,0,28.0
81737,18647029,N,N,N,N,N,N,N,11/16/2021,01:11 PM,...,19.8,21.5,0,0,0,2,0,0,0,NaN
81738,18647062,N,N,N,N,N,N,N,11/22/2021,02:34 PM,...,NaN,NaN,0,0,0,1,0,0,0,NaN
81739,18647069,N,N,N,N,N,N,N,11/23/2021,03:18 PM,...,NaN,NaN,0,0,0,3,0,0,0,282.0

In [7]:
# check the counts for the first df
df.value_counts()

Series([], dtype: int64)

In [8]:
wrangle.summarize(df)

There are total of 6034333 missing values in the entire dataframe.

-------------------
=====================================================


Dataframe head:
|    |   Crash_ID | Crash_Fatal_Fl   | Cmv_Involv_Fl   | Schl_Bus_Fl   | Rr_Relat_Fl   | Medical_Advisory_Fl   | Amend_Supp_Fl   | Active_School_Zone_Fl   | Crash_Date   | Crash_Time   | Case_ID   | Local_Use   |   Rpt_CRIS_Cnty_ID |   Rpt_City_ID | Rpt_Outside_City_Limit_Fl   | Thousand_Damage_Fl   |   Rpt_Latitude |   Rpt_Longitude |   Rpt_Rdwy_Sys_ID |   Rpt_Hwy_Num |   Rpt_Hwy_Sfx |   Rpt_Road_Part_ID |   Rpt_Block_Num | Rpt_Street_Pfx   | Rpt_Street_Name   | Rpt_Street_Sfx   | Private_Dr_Fl   | Toll_Road_Fl   |   Crash_Speed_Limit | Road_Constr_Zone_Fl   | Road_Constr_Zone_Wrkr_Fl   | Rpt_Street_Desc   | At_Intrsct_Fl   |   Rpt_Sec_Rdwy_Sys_ID |   Rpt_Sec_Hwy_Num |   Rpt_Sec_Hwy_Sfx |   Rpt_Sec_Road_Part_ID |   Rpt_Sec_Block_Num |   Rpt_Sec_Street_Pfx | Rpt_Sec_Street_Name   | Rpt_Sec_Street_Sfx   |   Rpt_Ref_Mark_Offset_Amt |   Rpt_Ref_Mark_Dist_Uom |   Rpt_Ref_Mark_Dir |   Rpt_Ref_Mark_Nbr | Rpt_Sec_Street_Desc   |   Rpt_CrossingNumber |   Wthr_Cond_ID |   Light_Cond_ID |   Entr_Road_ID |   Road_Type_ID |   Road_Algn_ID |   Surf_Cond_ID |   Traffic_Cntl_ID | Investigat_Notify_Time   | Investigat_Notify_Meth   | Investigat_Arrv_Time   | Report_Date   | Investigat_Comp_Fl   | ORI_Number   |   Investigat_Agency_ID |   Investigat_Area_ID |   Investigat_District_ID |   Investigat_Region_ID |   Bridge_Detail_ID |   Harm_Evnt_ID |   Intrsct_Relat_ID |   FHE_Collsn_ID |   Obj_Struck_ID |   Othr_Factr_ID |   Road_Part_Adj_ID |   Road_Cls_ID |   Road_Relat_ID |   Phys_Featr_1_ID |   Phys_Featr_2_ID |   Cnty_ID |   City_ID |   Latitude |   Longitude | Hwy_Sys   |   Hwy_Nbr | Hwy_Sfx   |    Dfo | Street_Name   |   Street_Nbr |   Control |   Section |   Milepoint |   Ref_Mark_Nbr |   Ref_Mark_Displ |   Hwy_Sys_2 |   Hwy_Nbr_2 |   Hwy_Sfx_2 |   Street_Name_2 |   Street_Nbr_2 |   Control_2 |   Section_2 |   Milepoint_2 | Txdot_Rptable_Fl   | Onsys_Fl   | Rural_Fl   |   Crash_Sev_ID |   Pop_Group_ID | Located_Fl   | Day_of_Week   |   Hwy_Dsgn_Lane_ID |   Hwy_Dsgn_Hrt_ID |   Hp_Shldr_Left |   Hp_Shldr_Right |   Hp_Median_Width |   Base_Type_ID |   Nbr_Of_Lane |   Row_Width_Usual |   Roadbed_Width |   Surf_Width |   Surf_Type_ID |   Curb_Type_Left_ID |   Curb_Type_Right_ID |   Shldr_Type_Left_ID |   Shldr_Width_Left |   Shldr_Use_Left_ID |   Shldr_Type_Right_ID |   Shldr_Width_Right |   Shldr_Use_Right_ID |   Median_Type_ID |   Median_Width |   Rural_Urban_Type_ID |   Func_Sys_ID |   Adt_Curnt_Amt |   Adt_Curnt_Year |   Adt_Adj_Curnt_Amt |   Pct_Single_Trk_Adt |   Pct_Combo_Trk_Adt |   Trk_Aadt_Pct |   Curve_Type_ID |   Curve_Lngth |   Cd_Degr |   Delta_Left_Right_ID |   Dd_Degr |   Feature_Crossed |   Structure_Number |   I_R_Min_Vert_Clear |   Approach_Width |   Bridge_Median_ID |   Bridge_Loading_Type_ID |   Bridge_Loading_In_1000_Lbs |   Bridge_Srvc_Type_On_ID |   Bridge_Srvc_Type_Under_ID |   Culvert_Type_ID |   Roadway_Width |   Deck_Width |   Bridge_Dir_Of_Traffic_ID |   Bridge_Rte_Struct_Func_ID |   Bridge_IR_Struct_Func_ID |   CrossingNumber |   RRCo |   Poscrossing_ID |   WDCode_ID |   Standstop |   Yield |   Sus_Serious_Injry_Cnt |   Nonincap_Injry_Cnt |   Poss_Injry_Cnt |   Non_Injry_Cnt |   Unkn_Injry_Cnt |   Tot_Injry_Cnt |   Death_Cnt |   MPO_ID |   Investigat_Service_ID |   Investigat_DA_ID |   Investigator_Narrative |
|---:|-----------:|:-----------------|:----------------|:--------------|:--------------|:----------------------|:----------------|:------------------------|:-------------|:-------------|:----------|:------------|-------------------:|--------------:|:----------------------------|:---------------------|---------------:|----------------:|------------------:|--------------:|--------------:|-------------------:|----------------:|:-----------------|:------------------|:-----------------|:----------------|:---------------|--------------------:|:----------------------|:---------------------------|:------------------|:----------------|----------------------:|------------------:|------------------:|-----------------------:|--------------------:|---------------------:|:----------------------|:---------------------|--------------------------:|------------------------:|-------------------:|-------------------:|:----------------------|---------------------:|---------------:|----------------:|---------------:|---------------:|---------------:|---------------:|------------------:|:-------------------------|:-------------------------|:-----------------------|:--------------|:---------------------|:-------------|-----------------------:|---------------------:|-------------------------:|-----------------------:|-------------------:|---------------:|-------------------:|----------------:|----------------:|----------------:|-------------------:|--------------:|----------------:|------------------:|------------------:|----------:|----------:|-----------:|------------:|:----------|----------:|:----------|-------:|:--------------|-------------:|----------:|----------:|------------:|---------------:|-----------------:|------------:|------------:|------------:|----------------:|---------------:|------------:|------------:|--------------:|:-------------------|:-----------|:-----------|---------------:|---------------:|:-------------|:--------------|-------------------:|------------------:|----------------:|-----------------:|------------------:|---------------:|--------------:|------------------:|----------------:|-------------:|---------------:|--------------------:|---------------------:|---------------------:|-------------------:|--------------------:|----------------------:|--------------------:|---------------------:|-----------------:|---------------:|----------------------:|--------------:|----------------:|-----------------:|--------------------:|---------------------:|--------------------:|---------------:|----------------:|--------------:|----------:|----------------------:|----------:|------------------:|-------------------:|---------------------:|-----------------:|-------------------:|-------------------------:|-----------------------------:|-------------------------:|----------------------------:|------------------:|----------------:|-------------:|---------------------------:|----------------------------:|---------------------------:|-----------------:|-------:|-----------------:|------------:|------------:|--------:|------------------------:|---------------------:|-----------------:|----------------:|-----------------:|----------------:|------------:|---------:|------------------------:|-------------------:|-------------------------:|
|  0 |   17562314 | N                | N               | N             | N             | N                     | Y               | N                       | 10/28/2021   | 06:49 AM     | 20003450  | nan         |                 43 |           302 | N                           | Y                    |            nan |             nan |                 4 |           544 |           nan |                  1 |             400 | W                | FM 544            | nan              | N               | N              |                  45 | N                     | N                          | nan               | N               |                    19 |               nan |               nan |                      1 |                 100 |                  nan | HERITAGE              | PKWY                 |                       nan |                     nan |                nan |                nan | nan                   |                  nan |             12 |               4 |              4 |              2 |              2 |              1 |                11 | 06:51 AM                 | POLICE DISPATCH          | 06:55 AM               | 10/28/2021    | Y                    | TX0431800    |                   1820 |                  nan |                      nan |                    nan |                  8 |              2 |                  4 |              22 |              64 |              42 |                  1 |             3 |               1 |                21 |                21 |        43 |       302 |    33.0116 |    -96.6209 | FM        |      0544 | nan       | 19.904 | FM0544        |          nan |       619 |         3 |       5.797 |           0604 |           -1.805 |         nan |         nan |         nan |             nan |            nan |         nan |         nan |           nan | Y                  | Y          | N          |              3 |              5 | Y            | THU           |                  3 |                 0 |               4 |                4 |                19 |              3 |             6 |               120 |              80 |           72 |              5 |                   1 |                    2 |                    2 |                  4 |                   5 |                     2 |                   4 |                    5 |                3 |             15 |                     4 |            16 |           36043 |             2018 |               36043 |                  1.4 |                 0.2 |            1.6 |             nan |           nan |       nan |                   nan |       nan |               nan |                nan |                  nan |              nan |                nan |                      nan |                          nan |                      nan |                         nan |               nan |             nan |          nan |                        nan |                         nan |                        nan |              nan |    nan |              nan |         nan |         nan |     nan |                       0 |                    0 |                1 |               3 |                0 |               1 |           0 |      282 |                      35 |                nan |                      nan |
|  1 |   18534544 | N                | N               | N             | N             | N                     | N               | N                       | 10/18/2021   | 12:33 AM     | 21-02305  | nan         |                 84 |           243 | N                           | Y                    |            nan |             nan |                 1 |            45 |           nan |                  2 |            5000 | nan              | IH 45             | nan              | N               | N              |                  45 | Y                     | N                          | PAVED             | N               |                    19 |               nan |               nan |                      1 |                 100 |                  nan | DELANY RD             | nan                  |                       nan |                     nan |                nan |                nan | PAVED                 |                  nan |             11 |               4 |              0 |              2 |              1 |              1 |                20 | 12:33 AM                 | SELF OBSERVED            | 12:33 AM               | 10/18/2021    | Y                    | TX0840700    |                   1612 |                  nan |                      nan |                    nan |                  8 |              7 |                  3 |               2 |              62 |              49 |                  2 |             1 |               2 |                32 |                21 |        84 |      9999 |    29.3869 |    -95.0174 | IH        |      0045 | nan       | 13.601 | IH0045        |          nan |       500 |         4 |       6.77  |           0014 |           -0.274 |         nan |         nan |         nan |             nan |            nan |         nan |         nan |           nan | Y                  | Y          | Y          |              5 |              0 | Y            | MON           |                  5 |                 0 |              24 |               22 |                27 |              9 |             6 |               380 |             136 |           90 |              5 |                   0 |                    0 |                    2 |                 24 |                   5 |                     2 |                  22 |                    5 |              nan |              3 |                     3 |            11 |           55245 |             2018 |               55245 |                  1.8 |                 2.1 |            3.9 |             nan |           nan |       nan |                   nan |       nan |               nan |                nan |                  nan |              nan |                nan |                      nan |                          nan |                      nan |                         nan |               nan |             nan |          nan |                        nan |                         nan |                        nan |              nan |    nan |              nan |         nan |         nan |     nan |                       0 |                    0 |                0 |               1 |                0 |               0 |           0 |       15 |                     122 |                nan |                      nan |
|  2 |   18534557 | N                | N               | N             | N             | N                     | N               | N                       | 10/18/2021   | 11:35 PM     | 21-063252 | TD04        |                 57 |           107 | N                           | Y                    |            nan |             nan |                 1 |            35 |           nan |                  1 |            7200 | N                | STEMMONS          | FWY              | N               | N              |                  60 | N                     | N                          | nan               | N               |                    19 |               nan |               nan |                      1 |                 nan |                  nan | MOCKING BIRD          | LN                   |                       nan |                     nan |                nan |                nan | nan                   |                  nan |             11 |               4 |              0 |              2 |              4 |              1 |                20 | 11:43 PM                 | RADIO DISPATCHED         | 11:45 PM               | 10/18/2021    | Y                    | TX0570000    |                   1169 |                  nan |                      nan |                    189 |                  8 |              7 |                  4 |               1 |              23 |              54 |                  1 |             1 |               2 |                21 |                21 |        57 |       107 |    32.8186 |    -96.8692 | IH        |      0035 | E         | 62.549 | IH0035E       |          nan |       196 |         3 |      21.735 |           0434 |           -0.22  |         nan |         nan |         nan |             nan |            nan |         nan |         nan |           nan | Y                  | Y          | N          |              5 |              9 | Y            | MON           |                  5 |                 0 |              20 |               20 |                24 |              9 |            10 |               400 |             160 |          120 |              6 |                   1 |                    1 |                    2 |                 20 |                   5 |                     2 |                  20 |                    5 |              nan |              4 |                     4 |            11 |          134996 |             2018 |              134996 |                  4   |                 5.8 |            9.8 |             nan |           nan |       nan |                   nan |       nan |               nan |                nan |                  nan |              nan |                nan |                      nan |                          nan |                      nan |                         nan |               nan |             nan |          nan |                        nan |                         nan |                        nan |              nan |    nan |              nan |         nan |         nan |     nan |                       0 |                    0 |                0 |               1 |                0 |               0 |           0 |      282 |                      22 |                nan |                      nan |
=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81740 entries, 0 to 81739
Columns: 171 entries, Crash_ID to Investigator_Narrative
dtypes: float64(86), int64(26), object(59)
memory usage: 106.6+ MB
None
=====================================================


Dataframe Description:
|       |        Crash_ID |   Rpt_CRIS_Cnty_ID |   Rpt_City_ID |   Rpt_Latitude |   Rpt_Longitude |   Rpt_Rdwy_Sys_ID |   Rpt_Road_Part_ID |   Crash_Speed_Limit |   Rpt_Sec_Rdwy_Sys_ID |   Rpt_Sec_Road_Part_ID |   Rpt_Ref_Mark_Offset_Amt |   Wthr_Cond_ID |   Light_Cond_ID |   Entr_Road_ID |   Road_Type_ID |   Road_Algn_ID |   Surf_Cond_ID |   Traffic_Cntl_ID |   Investigat_Agency_ID |   Investigat_Area_ID |   Investigat_District_ID |   Investigat_Region_ID |   Bridge_Detail_ID |   Harm_Evnt_ID |   Intrsct_Relat_ID |   FHE_Collsn_ID |   Obj_Struck_ID |   Othr_Factr_ID |   Road_Part_Adj_ID |   Road_Cls_ID |   Road_Relat_ID |   Phys_Featr_1_ID |   Phys_Featr_2_ID |    Cnty_ID |   City_ID |    Latitude |   Longitude |       Dfo |   Control |     Section |   Milepoint |   Ref_Mark_Displ |   Street_Nbr_2 |   Control_2 |   Section_2 |   Milepoint_2 |   Crash_Sev_ID |   Pop_Group_ID |   Hwy_Dsgn_Lane_ID |   Hwy_Dsgn_Hrt_ID |   Hp_Shldr_Left |   Hp_Shldr_Right |   Hp_Median_Width |   Base_Type_ID |   Nbr_Of_Lane |   Row_Width_Usual |   Roadbed_Width |   Surf_Width |   Surf_Type_ID |   Curb_Type_Left_ID |   Curb_Type_Right_ID |   Shldr_Type_Left_ID |   Shldr_Width_Left |   Shldr_Use_Left_ID |   Shldr_Type_Right_ID |   Shldr_Width_Right |   Shldr_Use_Right_ID |   Median_Type_ID |   Median_Width |   Rural_Urban_Type_ID |   Func_Sys_ID |   Adt_Curnt_Amt |   Adt_Curnt_Year |   Adt_Adj_Curnt_Amt |   Pct_Single_Trk_Adt |   Pct_Combo_Trk_Adt |   Trk_Aadt_Pct |   Curve_Type_ID |   Curve_Lngth |   Cd_Degr |   Delta_Left_Right_ID |   Dd_Degr |   Feature_Crossed |   Structure_Number |   I_R_Min_Vert_Clear |   Approach_Width |   Bridge_Median_ID |   Bridge_Loading_Type_ID |   Bridge_Loading_In_1000_Lbs |   Bridge_Srvc_Type_On_ID |   Bridge_Srvc_Type_Under_ID |   Culvert_Type_ID |   Roadway_Width |   Deck_Width |   Bridge_Dir_Of_Traffic_ID |   Bridge_Rte_Struct_Func_ID |   Bridge_IR_Struct_Func_ID |   Poscrossing_ID |   WDCode_ID |   Standstop |   Yield |   Sus_Serious_Injry_Cnt |   Nonincap_Injry_Cnt |   Poss_Injry_Cnt |   Non_Injry_Cnt |   Unkn_Injry_Cnt |   Tot_Injry_Cnt |      Death_Cnt |    MPO_ID |   Investigat_Service_ID |   Investigat_DA_ID |   Investigator_Narrative |

ValueError: Bin edges must be unique: array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]).
You can drop duplicate edges by setting the 'duplicates' kwarg