In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import wrangle

In [2]:
# create df from csv file and take a look at TxDOT data for 1/1/21 - 10/28/21
df = pd.read_csv('crash_2021s.csv')
print('shape:', df.shape)
df.head()

shape: (81740, 48)

,Crash_ID,Crash_Fatal_Fl,Cmv_Involv_Fl,Schl_Bus_Fl,Rr_Relat_Fl,Medical_Advisory_Fl,Amend_Supp_Fl,Active_School_Zone_Fl,Crash_Date,Crash_Time,...,Crash_Sev_ID,Located_Fl,Day_of_Week,Sus_Serious_Injry_Cnt,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt
0,17562314,N,N,N,N,N,Y,N,10/28/2021,6:49 AM,...,3,Y,THU,0,0,1,3,0,1,0
1,18534544,N,N,N,N,N,N,N,10/18/2021,12:33 AM,...,5,Y,MON,0,0,0,1,0,0,0
2,18534557,N,N,N,N,N,N,N,10/18/2021,11:35 PM,...,5,Y,MON,0,0,0,1,0,0,0
3,18534558,N,N,N,N,N,N,N,10/18/2021,12:10 AM,...,1,Y,MON,1,0,0,0,0,1,0
4,18534587,N,N,N,N,N,Y,N,10/18/2021,12:47 AM,...,5,Y,MON,0,0,0,1,0,0,0

In [3]:
# look at some of the df details of the types in the df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81740 entries, 0 to 81739
Data columns (total 48 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Crash_ID                   81740 non-null  int64
 1   Crash_Fatal_Fl             81740 non-null  object
 2   Cmv_Involv_Fl              81740 non-null  object
 3   Schl_Bus_Fl                81740 non-null  object
 4   Rr_Relat_Fl                81740 non-null  object
 5   Medical_Advisory_Fl        81740 non-null  object
 6   Amend_Supp_Fl              81740 non-null  object
 7   Active_School_Zone_Fl      81740 non-null  object
 8   Crash_Date                 81740 non-null  object
 9   Crash_Time                 81740 non-null  object
 10  Rpt_Outside_City_Limit_Fl  81740 non-null  object
 11  Rpt_Road_Part_ID           81740 non-null  int64
 12  Rpt_Block_Num              70547 non-null  object
 13  Rpt_Street_Pfx             31462 non-null  object
 14  Rpt_Street_Name            81737 non-null  object
 15  Rpt_Street_Sfx             58790 non-null  object
 16  Private_Dr_Fl              81740 non-null  object
 17  Toll_Road_Fl               81740 non-null  object
 18  Crash_Speed_Limit          81740 non-null  int64
 19  Road_Constr_Zone_Fl        81740 non-null  object
 20  Road_Constr_Zone_Wrkr_Fl   81740 non-null  object
 21  At_Intrsct_Fl              81740 non-null  object
 22  Rpt_Sec_Block_Num          62866 non-null  object
 23  Rpt_Sec_Street_Pfx         20639 non-null  object
 24  Rpt_Sec_Street_Name        81740 non-null  object
 25  Rpt_Sec_Street_Sfx         63221 non-null  object
 26  Surf_Cond_ID               81740 non-null  int64
 27  Investigat_Notify_Time     81740 non-null  object
 28  Investigat_Arrv_Time       81740 non-null  object
 29  Report_Date                81740 non-null  object
 30  Latitude                   73821 non-null  float64
 31  Longitude                  73821 non-null  float64
 32  Hwy_Sys                    41830 non-null  object
 33  Hwy_Nbr                    41830 non-null  object
 34  Street_Name                81738 non-null  object
 35  Street_Nbr                 35299 non-null  object
 36  Street_Name_2              33500 non-null  object
 37  Rural_Fl                   81740 non-null  object
 38  Crash_Sev_ID               81740 non-null  int64
 39  Located_Fl                 81740 non-null  object
 40  Day_of_Week                81740 non-null  object
 41  Sus_Serious_Injry_Cnt      81740 non-null  int64
 42  Nonincap_Injry_Cnt         81740 non-null  int64
 43  Poss_Injry_Cnt             81740 non-null  int64
 44  Non_Injry_Cnt              81740 non-null  int64
 45  Unkn_Injry_Cnt             81740 non-null  int64
 46  Tot_Injry_Cnt              81740 non-null  int64
 47  Death_Cnt                  81740 non-null  int64
dtypes: float64(2), int64(12), object(34)
memory usage: 29.9+ MB

In [4]:
print('There are %d missing values in total.' % df.isna().sum().sum())

There are 373259 missing values in total.

In [5]:
#get some detail on the numbers
df.describe()

,Crash_ID,Rpt_Road_Part_ID,Crash_Speed_Limit,Surf_Cond_ID,Latitude,Longitude,Crash_Sev_ID,Sus_Serious_Injry_Cnt,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt
count,8.174000e+04,81740.000000,81740.000000,81740.000000,73821.000000,73821.000000,81740.000000,81740.000000,81740.000000,81740.000000,81740.000000,81740.000000,81740.000000,81740.000000
mean,1.858636e+07,1.364277,42.435564,1.093479,30.783681,-97.388447,4.023208,0.030732,0.133876,0.228627,1.968534,0.197773,0.393235,0.006655
std,2.584818e+04,1.239948,17.385819,0.531432,1.923241,2.459587,1.529097,0.200221,0.475819,0.628845,1.848648,0.461445,0.835357,0.093225
min,1.756231e+07,1.000000,-1.000000,0.000000,25.862676,-106.631170,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.856521e+07,1.000000,35.000000,1.000000,29.651395,-98.224528,3.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,1.858657e+07,1.000000,40.000000,1.000000,30.223253,-96.964931,5.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000
75%,1.860738e+07,1.000000,55.000000,1.000000,32.679264,-95.528218,5.000000,0.000000,0.000000,0.000000,3.000000,0.000000,1.000000,0.000000
max,1.864707e+07,7.000000,85.000000,10.000000,36.402066,-93.519716,5.000000,6.000000,47.000000,29.000000,76.000000,15.000000,70.000000,4.000000

In [6]:
# check the counts for the first df
df.value_counts()

Crash_ID  Crash_Fatal_Fl  Cmv_Involv_Fl  Schl_Bus_Fl  Rr_Relat_Fl  Medical_Advisory_Fl  Amend_Supp_Fl  Active_School_Zone_Fl  Crash_Date  Crash_Time  Rpt_Outside_City_Limit_Fl  Rpt_Road_Part_ID  Rpt_Block_Num  Rpt_Street_Pfx  Rpt_Street_Name  Rpt_Street_Sfx  Private_Dr_Fl  Toll_Road_Fl  Crash_Speed_Limit  Road_Constr_Zone_Fl  Road_Constr_Zone_Wrkr_Fl  At_Intrsct_Fl  Rpt_Sec_Block_Num  Rpt_Sec_Street_Pfx  Rpt_Sec_Street_Name  Rpt_Sec_Street_Sfx  Surf_Cond_ID  Investigat_Notify_Time  Investigat_Arrv_Time  Report_Date  Latitude   Longitude    Hwy_Sys  Hwy_Nbr  Street_Name  Street_Nbr  Street_Name_2  Rural_Fl  Crash_Sev_ID  Located_Fl  Day_of_Week  Sus_Serious_Injry_Cnt  Nonincap_Injry_Cnt  Poss_Injry_Cnt  Non_Injry_Cnt  Unkn_Injry_Cnt  Tot_Injry_Cnt  Death_Cnt
18537075  N               N              N            N            N                    N              N                      10/18/2021  7:10 PM     N                          1                 900            N               KEY              AVE             N              N             45                 N                    N                         N              100                E                   J                    AVE                 1             7:12 PM                 7:24 PM               10/19/2021   31.076369  -98.186113   US       183      US0183       909         FM0580         N         5             Y           MON          0                      0                   0               3              0               0              0            1
18598037  N               N              N            N            N                    N              N                      11/12/2021  4:25 PM     N                          1                 800            W               UNIVERSITY       DR              N              N             35                 N                    N                         N              100                S                   4TH                  AVE                 1             4:30 PM                 4:30 PM               11/12/2021   26.302522  -98.170187   SH       107      SH0107       788         BU0281W        N         5             Y           FRI          0                      0                   0               4              0               0              0            1
18598334  N               N              N            N            N                    N              N                      11/17/2021  8:40 AM     N                          1                 100            W               DAVIS            ST              N              N             30                 N                    N                         Y              400                N                   PACIFFIC             ST                  1             8:40 AM                 8:40 AM               11/17/2021   30.312618  -95.456017   SH       105      SH0105       450         N PACIFIC ST   N         3             Y           WED          0                      0                   1               2              0               1              0            1
18598288  N               Y              N            N            N                    N              N                      11/17/2021  5:15 PM     N                          1                 600            SW              WILSHIRE         BLVD            N              N             45                 N                    N                         Y              100                NW                  SUMMERCREST          BLVD                1             5:23 PM                 5:37 PM               11/17/2021   32.534413  -97.335990   SH       174      SH0174       101         FM0731         N         5             Y           WED          0                      0                   0               1              0               0              0            1
18598224  N               N              N            N            N                    N              N                      11/13/2021  6:20 PM     N                          1                 1900           S               TEXAS            AVE             N              N             40                 N                    N                         N              400                E                   CARSON               ST                  1             6:41 PM                 6:42 PM               11/14/2021   30.651851  -96.362352   BS       6        BS0006R      1905        FM1179         N         5             Y           SAT          0                      0                   0               4              0               0              0            1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ..
18570361  N               N              N            N            N                    N              N                      11/3/2021   12:05 PM    N                          1                 1300           S               CAGE             BLVD            N              N             30                 Y                    N                         N              100                E                   RIDGE                RD                  1             12:08 PM                12:11 PM              11/3/2021    26.180508  -98.186384   US       281      US0281       1301        W RIDGE RD     N         5             Y           WED          0                      0                   0               5              0               0              0            1
18570266  N               N              N            N            N                    N              N                      11/4/2021   7:25 AM     N                          1                 100            W               AMARILLO         BLVD            N              N             30                 N                    N                         Y              800                N                   POLK                 ST                  1             7:28 AM                 7:35 AM               11/4/2021    35.222019  -101.834151  BI       40       BI0040D      101         N POLK ST      N         3             Y           THU          0                      0                   1               2              0               1              0            1
18570264  N               N              N            N            N                    N              N                      10/31/2021  6:09 PM     N                          1                 500            S               BROADWAY         ST              N              N             35                 N                    N                         Y              100                W                   4TH                  ST                  1             6:09 PM                 6:09 PM               10/31/2021   33.184894  -101.378227  US       84       US0084       598         W 4TH ST       N         3             Y           SUN          0                      0                   1               1              0               1              0            1
18570234  N               N              N            N            N                    N              N                      11/3/2021   7:38 AM     N                          1                 1200           N               FIFTH            ST              N              N             35                 N                    N                         Y              100                E                   DEL RIO              ST                  1             7:38 AM                 7:38 AM               11/3/2021    30.366134  -103.665233  SH       118      SH0118       1100        W DEL RIO ST   N         3             Y           WED          0                      0                   3               0              0               3              0            1
18645937  N               N              N            N            N                    N              N                      11/29/2021  1:10 PM     N                          1                 1600           W               UNIVERSITY       DR              N              N             35                 N                    N                         N              100                N                   JACKSON              RD                  1             1:20 PM                 1:28 PM               12/2/2021    26.304819  -98.185966   SH       107      SH0107       2180        FM3362         N         5             Y           MON          0                      0                   0               2              0               0              0            1
Length: 1239, dtype: int64

In [7]:
df = wrangle.summarize(df)

There are total of 373259 missing values in the entire dataframe.

-------------------
=====================================================


Dataframe head:
|    |   Crash_ID | Crash_Fatal_Fl   | Cmv_Involv_Fl   | Schl_Bus_Fl   | Rr_Relat_Fl   | Medical_Advisory_Fl   | Amend_Supp_Fl   | Active_School_Zone_Fl   | Crash_Date   | Crash_Time   | Rpt_Outside_City_Limit_Fl   |   Rpt_Road_Part_ID |   Rpt_Block_Num | Rpt_Street_Pfx   | Rpt_Street_Name   | Rpt_Street_Sfx   | Private_Dr_Fl   | Toll_Road_Fl   |   Crash_Speed_Limit | Road_Constr_Zone_Fl   | Road_Constr_Zone_Wrkr_Fl   | At_Intrsct_Fl   |   Rpt_Sec_Block_Num |   Rpt_Sec_Street_Pfx | Rpt_Sec_Street_Name   | Rpt_Sec_Street_Sfx   |   Surf_Cond_ID | Investigat_Notify_Time   | Investigat_Arrv_Time   | Report_Date   |   Latitude |   Longitude | Hwy_Sys   |   Hwy_Nbr | Street_Name   |   Street_Nbr |   Street_Name_2 | Rural_Fl   |   Crash_Sev_ID | Located_Fl   | Day_of_Week   |   Sus_Serious_Injry_Cnt |   Nonincap_Injry_Cnt |   Poss_Injry_Cnt |   Non_Injry_Cnt |   Unkn_Injry_Cnt |   Tot_Injry_Cnt |   Death_Cnt |
|---:|-----------:|:-----------------|:----------------|:--------------|:--------------|:----------------------|:----------------|:------------------------|:-------------|:-------------|:----------------------------|-------------------:|----------------:|:-----------------|:------------------|:-----------------|:----------------|:---------------|--------------------:|:----------------------|:---------------------------|:----------------|--------------------:|---------------------:|:----------------------|:---------------------|---------------:|:-------------------------|:-----------------------|:--------------|-----------:|------------:|:----------|----------:|:--------------|-------------:|----------------:|:-----------|---------------:|:-------------|:--------------|------------------------:|---------------------:|-----------------:|----------------:|-----------------:|----------------:|------------:|
|  0 |   17562314 | N                | N               | N             | N             | N                     | Y               | N                       | 10/28/2021   | 6:49 AM      | N                           |                  1 |             400 | W                | FM 544            | nan              | N               | N              |                  45 | N                     | N                          | N               |                 100 |                  nan | HERITAGE              | PKWY                 |              1 | 6:51 AM                  | 6:55 AM                | 10/28/2021    |    33.0116 |    -96.6209 | FM        |       544 | FM0544        |          nan |             nan | N          |              3 | Y            | THU           |                       0 |                    0 |                1 |               3 |                0 |               1 |           0 |
|  1 |   18534544 | N                | N               | N             | N             | N                     | N               | N                       | 10/18/2021   | 12:33 AM     | N                           |                  2 |            5000 | nan              | IH 45             | nan              | N               | N              |                  45 | Y                     | N                          | N               |                 100 |                  nan | DELANY RD             | nan                  |              1 | 12:33 AM                 | 12:33 AM               | 10/18/2021    |    29.3869 |    -95.0174 | IH        |        45 | IH0045        |          nan |             nan | Y          |              5 | Y            | MON           |                       0 |                    0 |                0 |               1 |                0 |               0 |           0 |
|  2 |   18534557 | N                | N               | N             | N             | N                     | N               | N                       | 10/18/2021   | 11:35 PM     | N                           |                  1 |            7200 | N                | STEMMONS          | FWY              | N               | N              |                  60 | N                     | N                          | N               |                 nan |                  nan | MOCKING BIRD          | LN                   |              1 | 11:43 PM                 | 11:45 PM               | 10/18/2021    |    32.8186 |    -96.8692 | IH        |        35 | IH0035E       |          nan |             nan | N          |              5 | Y            | MON           |                       0 |                    0 |                0 |               1 |                0 |               0 |           0 |
=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81740 entries, 0 to 81739
Data columns (total 48 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Crash_ID                   81740 non-null  int64
 1   Crash_Fatal_Fl             81740 non-null  object
 2   Cmv_Involv_Fl              81740 non-null  object
 3   Schl_Bus_Fl                81740 non-null  object
 4   Rr_Relat_Fl                81740 non-null  object
 5   Medical_Advisory_Fl        81740 non-null  object
 6   Amend_Supp_Fl              81740 non-null  object
 7   Active_School_Zone_Fl      81740 non-null  object
 8   Crash_Date                 81740 non-null  object
 9   Crash_Time                 81740 non-null  object
 10  Rpt_Outside_City_Limit_Fl  81740 non-null  object
 11  Rpt_Road_Part_ID           81740 non-null  int64
 12  Rpt_Block_Num              70547 non-null  object
 13  Rpt_Street_Pfx             31462 non-null  object
 14  Rpt_Street_Name            81737 non-null  object
 15  Rpt_Street_Sfx             58790 non-null  object
 16  Private_Dr_Fl              81740 non-null  object
 17  Toll_Road_Fl               81740 non-null  object
 18  Crash_Speed_Limit          81740 non-null  int64
 19  Road_Constr_Zone_Fl        81740 non-null  object
 20  Road_Constr_Zone_Wrkr_Fl   81740 non-null  object
 21  At_Intrsct_Fl              81740 non-null  object
 22  Rpt_Sec_Block_Num          62866 non-null  object
 23  Rpt_Sec_Street_Pfx         20639 non-null  object
 24  Rpt_Sec_Street_Name        81740 non-null  object
 25  Rpt_Sec_Street_Sfx         63221 non-null  object
 26  Surf_Cond_ID               81740 non-null  int64
 27  Investigat_Notify_Time     81740 non-null  object
 28  Investigat_Arrv_Time       81740 non-null  object
 29  Report_Date                81740 non-null  object
 30  Latitude                   73821 non-null  float64
 31  Longitude                  73821 non-null  float64
 32  Hwy_Sys                    41830 non-null  object
 33  Hwy_Nbr                    41830 non-null  object
 34  Street_Name                81738 non-null  object
 35  Street_Nbr                 35299 non-null  object
 36  Street_Name_2              33500 non-null  object
 37  Rural_Fl                   81740 non-null  object
 38  Crash_Sev_ID               81740 non-null  int64
 39  Located_Fl                 81740 non-null  object
 40  Day_of_Week                81740 non-null  object
 41  Sus_Serious_Injry_Cnt      81740 non-null  int64
 42  Nonincap_Injry_Cnt         81740 non-null  int64
 43  Poss_Injry_Cnt             81740 non-null  int64
 44  Non_Injry_Cnt              81740 non-null  int64
 45  Unkn_Injry_Cnt             81740 non-null  int64
 46  Tot_Injry_Cnt              81740 non-null  int64
 47  Death_Cnt                  81740 non-null  int64
dtypes: float64(2), int64(12), object(34)
memory usage: 29.9+ MB
None
=====================================================


Dataframe Description:
|       |        Crash_ID |   Rpt_Road_Part_ID |   Crash_Speed_Limit |   Surf_Cond_ID |    Latitude |   Longitude |   Crash_Sev_ID |   Sus_Serious_Injry_Cnt |   Nonincap_Injry_Cnt |   Poss_Injry_Cnt |   Non_Injry_Cnt |   Unkn_Injry_Cnt |   Tot_Injry_Cnt |      Death_Cnt |
|:------|----------------:|-------------------:|--------------------:|---------------:|------------:|------------:|---------------:|------------------------:|---------------------:|-----------------:|----------------:|-----------------:|----------------:|---------------:|
| count | 81740           |        81740       |          81740      |   81740        | 73821       | 73821       |    81740       |           81740         |         81740        |     81740        |     81740       |     81740        |    81740        | 81740          |
| mean  |     1.85864e+07 |            1.36428 |             42.4356 |       1.09348  |    30.7837  |   -97.3884  |        4.02321 |               0.0307316 |             0.133876 |         0.228627 |         1.96853 |         0.197773 |        0.393235 |     0.00665525 |
| std   | 25848.2         |            1.23995 |             17.3858 |       0.531432 |     1.92324 |     2.45959 |        1.5291  |               0.200221  |             0.475819 |         0.628845 |         1.84865 |         0.461445 |        0.835357 |     0.0932246  |
| min   |     1.75623e+07 |            1       |             -1      |       0        |    25.8627  |  -106.631   |        0       |               0         |             0        |         0        |         0       |         0        |        0        |     0          |
| 25%   |     1.85652e+07 |            1       |             35      |       1        |    29.6514  |   -98.2245  |        3       |               0         |             0        |         0        |         1       |         0        |        0        |     0          |
| 50%   |     1.85866e+07 |            1       |             40      |       1        |    30.2233  |   -96.9649  |        5       |               0         |             0        |         0        |         2       |         0        |        0        |     0          |
| 75%   |     1.86074e+07 |            1       |             55      |       1        |    32.6793  |   -95.5282  |        5       |               0         |             0        |         0        |         3       |         0        |        1        |     0          |
| max   |     1.86471e+07 |            7       |             85      |      10        |    36.4021  |   -93.5197  |        5       |               6         |            47        |        29        |        76       |        15        |       70        |     4          |
=====================================================
DataFrame value counts:
(17561229.244000003, 17670789.5]        1
(17670789.5, 17779265.0]                0
(17779265.0, 17887740.5]                0
(17887740.5, 17996216.0]                0
(17996216.0, 18104691.5]                0
(18104691.5, 18213167.0]                0
(18213167.0, 18321642.5]                0
(18321642.5, 18430118.0]                0
(18430118.0, 18538593.5]              577
(18538593.5, 18647069.0]            81162
Name: Crash_ID, dtype: int64
N    81260
Y      480
Name: Crash_Fatal_Fl, dtype: int64
N    76249
Y     5491
Name: Cmv_Involv_Fl, dtype: int64
N    81234
Y      506
Name: Schl_Bus_Fl, dtype: int64
N    81491
Y      249
Name: Rr_Relat_Fl, dtype: int64
N    81145
Y      595
Name: Medical_Advisory_Fl, dtype: int64
N    79187
Y     2553
Name: Amend_Supp_Fl, dtype: int64
N     81570
Y       169
-2        1
Name: Active_School_Zone_Fl, dtype: int64
10/29/2021    2433
11/19/2021    2278
10/27/2021    2223
10/22/2021    2223
11/3/2021     2221
11/12/2021    2200
11/5/2021     2185
10/28/2021    2128
11/2/2021     2081
11/17/2021    1995
10/21/2021    1992
11/15/2021    1990
10/23/2021    1988
11/11/2021    1980
10/30/2021    1967
11/16/2021    1960
11/1/2021     1934
11/23/2021    1902
10/20/2021    1891
10/25/2021    1867
11/10/2021    1861
10/19/2021    1861
11/8/2021     1859
10/18/2021    1842
11/6/2021     1829
11/18/2021    1828
11/13/2021    1804
11/22/2021    1783
11/24/2021    1781
10/26/2021    1767
11/4/2021     1761
11/29/2021    1757
11/27/2021    1754
11/9/2021     1752
11/30/2021    1752
10/31/2021    1734
11/20/2021    1712
10/24/2021    1585
11/7/2021     1537
11/14/2021    1522
11/21/2021    1381
11/28/2021    1358
11/26/2021    1261
11/25/2021    1221
Name: Crash_Date, dtype: int64
5:00 PM    467
4:00 PM    450
6:00 PM    444
2:00 PM    364
3:00 PM    360
          ...
3:59 AM      5
5:18 AM      5
3:54 AM      5
5:06 AM      5
3:33 AM      3
Name: Crash_Time, Length: 1440, dtype: int64
N    65326
Y    16414
Name: Rpt_Outside_City_Limit_Fl, dtype: int64
(0.993, 1.6]    70962
(1.6, 2.2]       6092
(2.2, 2.8]          0
(2.8, 3.4]        511
(3.4, 4.0]        654
(4.0, 4.6]          0
(4.6, 5.2]        213
(5.2, 5.8]          0
(5.8, 6.4]          0
(6.4, 7.0]       3308
Name: Rpt_Road_Part_ID, dtype: int64
100      2439
200      1339
300      1249
700      1218
500      1182
         ...
4535        1
13704       1
6858        1
323         1
4719        1
Name: Rpt_Block_Num, Length: 6303, dtype: int64
N     8647
S     8118
W     7301
E     5775
NW     519
SW     477
NE     377
SE     248
Name: Rpt_Street_Pfx, dtype: int64
NOT REPORTED                10387
MAIN                          889
NORTH                         511
SOUTHWEST                     493
LYNDON B JOHNSON              432
                            ...
WILLMAN AVE                     1
LINARES                         1
MARSHA SHARP ACCESS ROAD        1
HUTCHINSON                      1
HWY 287 BUSS                    1
Name: Rpt_Street_Name, Length: 13722, dtype: int64
RD      14630
ST      10420
DR       7171
FWY      5823
BLVD     4922
AVE      4856
HWY      4219
PKWY     2920
LN       1400
LOOP      911
EXPY      745
WAY       239
TRL       213
CT        115
CIR       100
PL         78
TRC         9
CV          7
PARK        4
PT          4
PATH        4
Name: Rpt_Street_Sfx, dtype: int64
N    76497
Y     5243
Name: Private_Dr_Fl, dtype: int64
N     80299
Y      1440
-2        1
Name: Toll_Road_Fl, dtype: int64
(-1.087, 7.6]     4695
(7.6, 16.2]       1691
(16.2, 24.8]       991
(24.8, 33.4]     12788
(33.4, 42.0]     21803
(42.0, 50.6]     16960
(50.6, 59.2]      4999
(59.2, 67.8]     11120
(67.8, 76.4]      6562
(76.4, 85.0]       131
Name: Crash_Speed_Limit, dtype: int64
N    78281
Y     3459
Name: Road_Constr_Zone_Fl, dtype: int64
N    80770
Y      970
Name: Road_Constr_Zone_Wrkr_Fl, dtype: int64
N    57262
Y    24478
Name: At_Intrsct_Fl, dtype: int64
100      6485
1000     1506
200      1448
300      1268
400      1227
         ...
19090       1
7362        1
15699       1
25210       1
1655        1
Name: Rpt_Sec_Block_Num, Length: 2670, dtype: int64
N     5470
W     5167
S     4575
E     4315
SW     354
NW     309
NE     233
SE     216
Name: Rpt_Sec_Street_Pfx, dtype: int64
NOT REPORTED       7936
MAIN                543
UNIVERSITY          249
SAM HOUSTON         225
AIRPORT             187
                   ...
RAMS GATE             1
BAMMEL VILLIAGE       1
EAST SPRING           1
EAGLE FORD            1
HOLLIMON              1
Name: Rpt_Sec_Street_Name, Length: 20647, dtype: int64
RD      16850
ST      13632
DR      11882
AVE      5481
BLVD     4850
LN       2809
PKWY     2347
HWY      1592
FWY      1284
LOOP      542
WAY       452
TRL       427
CT        272
EXPY      258
PL        238
CIR       219
PARK       25
CV         24
TRC        20
PATH       10
PT          7
Name: Rpt_Sec_Street_Sfx, dtype: int64
(-0.011, 1.0]    75555
(1.0, 2.0]        5686
(2.0, 3.0]         248
(3.0, 4.0]           0
(4.0, 5.0]           9
(5.0, 6.0]           7
(6.0, 7.0]           0
(7.0, 8.0]          86
(8.0, 9.0]           2
(9.0, 10.0]        147
Name: Surf_Cond_ID, dtype: int64
6:00 PM    212
5:00 PM    199
4:00 PM    195
3:30 PM    192
3:00 PM    190
          ...
5:06 AM      8
4:26 AM      7
4:03 AM      6
4:11 AM      6
5:09 AM      5
Name: Investigat_Notify_Time, Length: 1440, dtype: int64
4:00 PM    211
6:00 PM    198
6:30 PM    195
5:30 PM    176
4:30 PM    176
          ...
4:33 AM      7
5:43 AM      7
5:07 AM      7
3:58 AM      7
3:44 AM      7
Name: Investigat_Arrv_Time, Length: 1440, dtype: int64
11/3/2021     2253
11/2/2021     2160
10/29/2021    2114
11/16/2021    2092
10/27/2021    2089
11/19/2021    2087
11/17/2021    2067
10/28/2021    2050
11/15/2021    2038
11/12/2021    2035
11/23/2021    2003
11/5/2021     2001
11/18/2021    1990
11/1/2021     1979
11/30/2021    1974
11/10/2021    1950
11/11/2021    1949
11/29/2021    1919
11/9/2021     1907
11/8/2021     1885
11/22/2021    1869
11/4/2021     1845
10/21/2021    1839
10/25/2021    1829
10/22/2021    1778
11/24/2021    1758
10/30/2021    1737
10/23/2021    1707
10/26/2021    1704
11/20/2021    1686
11/6/2021     1653
11/13/2021    1623
10/31/2021    1616
11/14/2021    1592
10/19/2021    1583
11/7/2021     1577
11/27/2021    1567
10/20/2021    1562
10/24/2021    1513
11/28/2021    1484
11/25/2021    1280
10/18/2021    1273
11/26/2021    1221
11/21/2021    1097
12/1/2021      675
12/2/2021      415
12/3/2021      329
12/7/2021      205
12/6/2021      197
12/4/2021      180
12/8/2021      166
12/5/2021      152
12/9/2021      136
12/10/2021      98
12/13/2021      78
12/14/2021      75
12/11/2021      40
12/12/2021      38
12/15/2021      21
Name: Report_Date, dtype: int64
(25.851, 26.917]     3585
(26.917, 27.971]     2328
(27.971, 29.024]      993
(29.024, 30.078]    27564
(30.078, 31.132]     8863
(31.132, 32.186]     6627
(32.186, 33.24]     19727
(33.24, 34.294]      2967
(34.294, 35.348]      943
(35.348, 36.402]      224
Name: Latitude, dtype: int64
(-106.64500000000001, -105.32]     2545
(-105.32, -104.009]                  34
(-104.009, -102.698]                245
(-102.698, -101.387]               3467
(-101.387, -100.075]               1078
(-100.075, -98.764]                2439
(-98.764, -97.453]                18072
(-97.453, -96.142]                20529
(-96.142, -94.831]                22313
(-94.831, -93.52]                  3099
Name: Longitude, dtype: int64
IH    12970
SH     8223
FM     8091
US     7470
SL     2158
BU      926
SS      729
RM      363
BS      326
UA      293
BI      182
PA       31
PR       26
UP       23
BF       10
FS        7
RE        2
Name: Hwy_Sys, dtype: int64
35      3402
10      2319
45      1992
20      1369
69      1213
        ...
264        1
841        1
3027       1
2176       1
1060       1
Name: Hwy_Nbr, Length: 1391, dtype: int64
IH0010                   2305
IH0045                   1932
IH0035                   1880
IH0020                   1069
IH0035E                   899
                         ...
W LA VISTA AVENUE AVE       1
S RAVINIA DR                1
BLEDSOE RD                  1
TORTUGA TRL                 1
N US 77 HWY                 1
Name: Street_Name, Length: 15837, dtype: int64
100      395
101      212
200      196
300      176
500      148
        ...
4331       1
11474      1
2067       1
15272      1
18829      1
Name: Street_Nbr, Length: 10548, dtype: int64
NOT REPORTED      3253
UNKNOWN           3050
SL1604             139
IH0035             124
IH0010              96
                  ...
OLD OSAGE RD         1
RANCHWAY DR          1
PEYTON DR            1
GATLING GUN LN       1
STERLING AVE         1
Name: Street_Name_2, Length: 12004, dtype: int64
N    61159
Y    20581
Name: Rural_Fl, dtype: int64
(-0.006, 0.5]     4595
(0.5, 1.0]        2089
(1.0, 1.5]           0
(1.5, 2.0]        8088
(2.0, 2.5]           0
(2.5, 3.0]       11884
(3.0, 3.5]           0
(3.5, 4.0]         480
(4.0, 4.5]           0
(4.5, 5.0]       54604
Name: Crash_Sev_ID, dtype: int64
Y    73821
N     7919
Name: Located_Fl, dtype: int64
TUE    13075
MON    13032
FRI    12580
WED    11972
SAT    11054
THU    10910
SUN     9117
Name: Day_of_Week, dtype: int64
(-0.007, 0.6]    79559
(0.6, 1.2]        1917
(1.2, 1.8]           0
(1.8, 2.4]         214
(2.4, 3.0]          38

NameError: name 'nulls_by_col' is not defined